.carousel-control {
    color: #d6e9c6;
}
.carousel-control:hover {
    color: #dff0d8;
}
.carousel-indicators .active {
    background-color: #dff0d8;
}
.carousel-indicators li {
    border: 1px solid #3c763d;
}
.form-control.input-slim {
    width: 70px;
    text-align: center;
}
.cursor-pointer {
    cursor: pointer;
}
.margin-auto {
    margin: auto;
}